*.rs linguist-language=Rust
*.js linguist-language=JavaScript

/backend-rust/** linguist-language=Rust

*.json linguist-detectable=false
*.lock linguist-vendored=true
*.html linguist-detectable=false
